.border_box {
width: 100%;
border-radius: 10px;
overflow: hidden;
background-color: #22274d;
/* padding: 10px; */
margin-top: 20px;
}
.border_box_title {
width: 100%;
line-height: 51px;
height: 51px;
background: #2a2f55;
padding-left: 20px;
color: #fff;
}
.border_box_content {
width: 100%;
/* height: 45vh; */
background: #22274d;
}
.border_box_content_select {
padding: 10px;
}

.border_box_content {
    width: 100%;
    /* height: 45vh; */
    background: #22274d;
  }
  .border_box_content_select {
    padding-right: 10%;
  }

  .border_box_table {
    width: 100%;
    padding: 20px;
  }
  .border_box_table table {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1b1f40;
    /* height: 20vh; */
  }
  .border_box_table table thead td {
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #ffffff;
    /* height: 20px; */
    line-height: 30px;
  }
  .border_box_table table tbody td {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #999999;
    line-height: 40px;
  }

  .centnt_center {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    overflow: hidden;
    background-color: #1b1f40;
  }