.el-table{
    border-bottom: 0px;
    background-color: #1b1f40;
    border-radius: 10px;
}
.el-table::before {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1b1f40;
    height: 1px;
}
.el-table th, .el-table tr{
    background-color: #1b1f40;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 0px;
    background-color: #1b1f40;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #1b1f40;
}

.el-table .el-table__body-wrapper tr.el-table__row--striped:hover>td {
    background: #2a2f55;
}
.el-table .el-table__body-wrapper tr.el-table__row:hover>td {
    background: #2a2f55;
}